  html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .mainBox {      /* I have made the main box as the main container of every other boxes */
    width: 100%;
    height: 100vh;
    background-color: #2D351D;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .titleBox {
    background-color: #747F71;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 100vw;
    font-style: normal;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    top: 0;
  }
  
  .titleBox p {
    color: white;
    margin: 0;
    white-space: nowrap;
  }
  
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0F08;
    color: white;
    height: 69px;
  }
  .navText {
    color: white;
    font-family: "Yeseva One";
    font-size: 45px;
    margin-left: 29px;
    white-space: nowrap;
    padding: 0;
    margin-right: auto;
  }
  .navlinks ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .navlinks li {
    list-style: none;
  }
  .navlinks li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-family: "Thasadith";
    font-size: 16px;
    white-space: nowrap;
  }
  .donateButton {
    background-color: #CFD9CE;
    color: black;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: "Thasadith";
    font-size: 16px;
    margin-right: 25px;
    margin-left: 15px;
  }
  .navlinks li a:hover {
    background-color: #5f723d;
  }
  .navlinks button:hover { /* hovering effect for donate button */
    background-color: #F3FFF2;
  }
  .toggle-button {
    position: absolute;
    top: 53px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .TreeDropdown {
    position: relative; /* Make the parent of the dropdown menu relative */
    z-index: 2;
  }
  
  .Treecontent {
    display: none;
    position: absolute;
    width: max-content;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    top: 100%;
  }
  .TreeDropdown:hover .Treecontent { /* how the drop down will look when you hover over it */
    display: block;
  }
  
  .dropdown-menu { /* how the contents in the dropdowm will look */
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-menu li { /* how the boxes of the menu will look */
    padding: 6px;
    background-color: #0D0F08;
    width: 100%;
  }
  
  .dropdown-menu li a { /* dropdown box text */
    text-decoration: none;
    color: white;
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color:#5f723d;
  }
  
  @media only screen and (max-width:1000px) {
    .toggle-button {
        display: flex;
    }
    .navlinks {
        display: none;
    }
    .navBar {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding: .5rem;
    }
    .navlinks ul {
        width: 100%;
        flex-direction: column;
    }
    .navlinks li {
        text-align: center;
    }
    .donateButton {
        display: none;
    }
    .navBar:hover .navlinks {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }
    .navlinks li:hover {
        width: 100%;
    }
    .navlinks li a {
        padding: .8rem 1rem;
    }
    .Treecontent {
        display: none;
        position: absolute;
        width: max-content;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        left: 0;
        top: 100%;
    }
    .TreeDropdown:hover .Treecontent {
        display: none;
    }
    .icon {
        display: none;
    }
    .navlinks.active {
        display: flex;
    }
  }

.contacts {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.contactB, .contactPa, .contactPe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  margin-top: 25vh;
}
.contactB, .contactPe {
  margin-left: 70px;
  margin-right: 70px;
}
.nameB, .namePa, .namePe {
  position: absolute; 
  top: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #869483;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  font-family: "Alice";
  z-index: 1; 
}
.roleB, .rolePa, .rolePe {
  font-size: 15px;
  color: #1e2510;
  text-decoration: underline;
  text-align: center;
  margin-top: 5px;
}
.infoB, .infoPa, .infoPe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  font-size: 17px;
  background-color: #dbdbc4;
  width: fit-content;
  height: fit-content;
  font-family: "Noto Serif Georgian";
}
.gmail-container, .gmail-containerPa, .gmail-containerPe {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
.gmail-text, .gmail-textPa, .gmail-textPe, .linkedin-text, .linkedin-textPa, .linkedin-textPe, .instagram-text, .instagram-textPa, .instagram-textPe
{
  margin-left: 10px;
  text-decoration: none;
  color: #3e4d1c;
}
.linkedin-container, .linkedin-containerPa, .linkedin-containerPe {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.instagram-container, .instagram-containerPa, .instagram-containerPe {
  display: flex;
  align-items: center;
}
.gmail-container::after, .gmail-containerPa::after, .gmail-containerPe::after { 
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: black;
  bottom: 124.4px;
}
.linkedin-container::after, .linkedin-containerPa::after, .linkedin-containerPe::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: black;
  bottom: 66.6px
  }

@media only screen and (min-width: 1300px) {
    .contactB, .contactPa, .contactPe {
      margin-top: 30vh;
    }
    .nameB, .namePa, .namePe {
      font-size: 25px;
    }
    .infoB, .infoPa, .infoPe {
      font-size: 21px;
    }
    .roleB, .rolePa, .rolePe {
      font-size: 19px;
    }
    .gmail-container, .gmail-containerPa, .gmail-containerPe {
      margin-top: 35px;
    }
}
@media only screen and (max-width: 1000px) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .contactB, .contactPe, .contactPa {
    margin-top: 100px;
  }
}