html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.room {
  position:static;
  width:100vw;
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:2px solid yellow; */
}

#first {
  background-color:#4f543d;
}
#second {
  background-color:#5c6843;
}
#third {
  background-color:#657262;
}

.charity {
  background-color: #dde6dc;
  width: 60vw;
  height: 70%;
  padding:50px;
  display:flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

#name {
  width:70%;
  height:15%;
  border:2px solid green;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

#picture {
  width:15vw;
  height: 15vw;
  border: 2px solid orange;
}

#slogan {
  margin-top:5%;
  width:15vw;
  height:30vh;
  border:2px solid pink;
}

#eco {

}
#bigtree {
  
}