.mainBox {      /* I have made the main box as the main container of every other boxes */
  width: 100%;
  height: 100vh;
  background-color: #2D351D;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}


.mainbody {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.introduction {
  position: relative;
  background-color: #CFD9CE;
  width: 80vw;
  height: fit-content;
  text-align: center;
  margin-top: 70px;
}
.introduction p {
  padding: 50px;
  font-family: "Montserrat";
  line-height: 1.65;
  font-size: 21px;
}
.introduction strong {
  color: #202d09;
}
.TamarindusIndica, .Bambusoideae, .HeveaBrasiliensis {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.photoT {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 700px;
  height: auto;
  background-image: url(images/Tamarindus_indica_pods2.jpeg);
  background-position: center;
  background-size: cover;
  margin-left: 55px;
  margin-top: 100px;
  margin-bottom: 45px;
  border: 4px solid #ECEDE2;
}
.photoB {
  background-image: url(images/Bamboo_Forest.jpg);
  background-position: center;
  background-size: cover;
  border: 4px solid #ECEDE2
}
.photoH {
  background-image: url(images/Rubber.jpg);
  background-position: center;
  background-size: cover;
  border: 4px solid #ECEDE2
}
.informationT {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 100px;
  margin-bottom: 45px;
  padding: 0 55px; 
  /** border: 2px solid orange; **/
}
.creditsT, .creditsB, .creditsH {
  font-family: "Montserrat";
  font-size: 12px;
  color: white;
  bottom: 0;
  top: 0;
}
.creditsT a, .creditsB a, .creditsH a {
  color: white;
}
.nameT, .nameB, .nameH{
  font-family: "Bugaki";
  background-color: #ECEDE2;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  font-size: 25px;
  margin: 0 auto;
}
.maininfoT, .maininfoB, .maininfoH {
  margin-top: 30px;
  text-align: start;
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 2.5;
  color: white;
  /** border: 2px solid red; **/
}
.ThainameT, .ThainameB, .ThainameH {
  line-height: 2.5;
}
.ecologicalnicheT, .ecologicalnicheB, .ecologicalnicheH {
  line-height: 1.5;
}
.maininfoT strong, .maininfoB strong, .maininfoH strong {
  font-size: 19px;
}

.photoB, .photoH {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 700px;
  height: auto;
  background-color: white;
  margin-left: 55px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.informationB, .informationH {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 0 55px; 
  /** border: 2px solid orange; **/
}
.arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  color: white;
  font-size: 30px;
  font-family: "Noto Serif Georgian";
  width: 95%; 
  margin: auto; 
  margin-bottom: 15px;
}
.arrows a {
  text-decoration: none;
  color: white;
}


@media only screen and (max-width: 1000px) {
  .mainbody {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .introduction {
    position: relative;
    background-color: #CFD9CE;
    width: 80vw;
    height: fit-content;
    margin-top: 55px;
  }
  .introduction p {
    padding: 15px 30px;
    font-family: "Montserrat";
    line-height: 1.65;
    font-size: 19px;
  }
  .introduction strong {
    color: #202d09;
  }
  .TamarindusIndica, .Bambusoideae, .HeveaBrasiliensis {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .photoT, .photoB, .photoH {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 330px;
    background-color: white;
  }
  .informationT, .informationB {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .maininfoT, .maininfoB, .maininfoH {
    text-align: center;
  }

  .informationH {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1300px) {
  .photoT, .photoB, .photoH {
    width: 800px;
  }
}
