html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.mainBox {      /* I have made the main box as the main container of every other boxes */
  width: 100%;
  height: 100vh;
  background-image: url("images/tree.jpg");
  background-position: center;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.titleBox {
  background-color: #747F71;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 100vw;
  font-style: normal;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  top: 0;
}

.titleBox p {
  color: white;
  margin: 0;
  white-space: nowrap;
}

.navText {
  color: white;
  font-family: "Yeseva One";
  font-size: 45px;
  margin-left: 29px;
  white-space: nowrap;
  padding: 0;
  margin-right: auto;
}

.navBar { /* main design for the nav bar */
  background-color: #0D0F08;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  z-index: 1000;
}

.navBar ul {   /* designates how the nav bar will look */
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  padding: 0;
}

.navBar a { /* designates how the nav bar text will look */
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
  text-align: center;
  font-family: "Thasadith";
  font-size: 16px;
  white-space: nowrap;
}

.navBar a:hover { /* hovering effect for nav bar */
  background-color: #3f4b28;
}

.donateButton {
  background-color: #CFD9CE;
  color: black;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Thasadith";
  font-size: 16px;
  margin-right: 25px;
  margin-left: 14px;
}

.navBar button:hover { /* hovering effect for donate button */
  background-color: #F3FFF2;
}

.TreeDropdown { /* start of dropdown menu */
  position: relative;
}

.Treecontent { /* main drop down design */
  display: none;
  position: absolute;
  width: max-content;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
  top: 100%;
}

.TreeDropdown:hover .Treecontent { /* how the drop down will look when you hover over it */
  display: block;
}

.dropdown-menu { /* how the contents in the dropdowm will look */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-menu li { /* how the boxes of the menu will look */
  padding: 6px;
  background-color: #0D0F08;
  width: 100%;
}

.dropdown-menu li a { /* dropdown box text */
  text-decoration: none;
  color: white;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #3f4b28;
}

.mainText {
  color: white;
  font-size: 90px;
  font-family: "Noto Serif Georgian";
  font-weight: 500;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

.firstline {
  margin-top: auto;
  margin-left: 60px;
}

.secondline {
  margin-left: 140px;
}

.beginButton {
  list-style-type: none;
  background-color: #E6EB0F;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 60px;
  margin-left: 370px;
  font-family: "Noto Serif Georgian";
  color: black;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

.beginButton:hover {
  background-color: #F9FAB3;
}

.welcomeMessage {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(207, 217, 206, 0.85);
  width: 400px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  bottom: 20px;
  left: 50%;
  transform: translate(185%, -15%);
  font-family: "Palanquin";
  font-size: 17px;
}
.welcomeMessage p {
  color: black;
  margin: 10px;
}
.donate a {
  color: #386814;
  font-weight: bold;
}
.begin a {
  color: #5F8720;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  .welcomeMessage {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .firstline {
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-right: 11%;
  }
  .secondline {
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-right: 24%;
  }
  .beginButton {
    margin-right: auto;
    margin-left: 215px;
  }
}
@media only screen and (min-width: 1300px) {
  .mainText {
    font-size: 100px;
}
.beginButton {
  margin-left: 420px;
}
.welcomeMessage {
  width: 450px;
  height: 300px;
  font-size: 19px;
  transform: translate(190%, -15%)
}
}