html, body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%; 
    overflow-x: auto;
    overflow-y: auto;
  }
  .mainBox{
    width: 100%;
    height: 100vh;
    background-color: #2D351D;
    overflow-y: auto;
  }
  .titleBox {
    background-color:  #747F71;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 100vw;
    font-style: normal;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    }
    .titleBox p {
      color: white;
      margin: 0;
      white-space: nowrap;
    }
    .navContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100vw;
      z-index: 1000;
      position: relative;
      margin-top: 28px; 
  }
  .navText {
      color: white;
      font-family: "Yeseva One";
      font-size: 45px;
      margin-left: 29px;
      white-space: nowrap;
      padding: 0;
      margin-right: auto;
  }
    .navBar {
      background-color: #0D0F08;
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100vw;
      top: 28px;
      z-index: 1000;
      min-width: max-content;
    }
    .navBar ul {
      height: 35px;
      display: flex;
      align-items: center;
      margin-left: auto;
      list-style: none;
      padding: 0;
    }
    .navBar a {
      color: white;
      text-decoration: none;
      padding: 1rem;
      display: block;
      text-align: center;
      font-family: "Thasadith";
      font-size: 16px;
    }
    .navBar a:hover{
     background-color: #2D351D;
    }
    .donateButton {
      background-color:#CFD9CE;
      color: black;
      padding: 8px;
      border: none;
      cursor: pointer;
      font-weight: 600;
      font-family: "Thasadith";
      font-size: 16px; 
      margin-right: 25px;
      margin-left: 14px;
    }
    
    .navBar button:hover{
      background-color: white;
    }
  .TreeDropdown:hover .Treecontent, .Treecontent:hover {
    display: flex;
  }
  
  .Treecontent {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #0D0F08;
    z-index: 1;
    top: 100%;
    width: max-content;
  }
  
  .Treecontent ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  
  .Treecontent li {
    padding: 10px;
    background-color: #0D0F08;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
  }
  
  .Treecontent a {
    color: white;
    text-decoration: none;
    background-color: #0D0F08;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    align-items: center;
  }
  .Treecontent a:hover {
    background-color:  #2D351D;
  }