.mainBox {      /* I have made the main box as the main container of every other boxes */
  width: 100%;
  height: 100vh;
  background-color: #5E663F;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
