html, body {
    background-color: #D0D9CD;
    margin:0px;
    max-width: 100%;
    overflow-x: hidden;
}

.titleBox {
    background-color:  #747F71;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    font-style: normal;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    /* border: 2px solid orange; */
}

.titleBox p {
    color: white;
    margin: 0;
  }


.pageBox { 
    background-color: #0D0F08;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    font-style: normal;
    font-family: "Yeseva One";
    font-weight: 400;
    font-size: 52px;
    text-align: left;
    /* border: 2px solid orange; */
}

.pageBox p {
    color: white;
    margin: 10px;
    padding-left: 20px;
    /* border: 2px solid orange; */
}

#mainBox {
    position: absolute;
    display: grid;
    place-items: center;
    top: 138px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

#map {
    position: relative;
    height: 960px;
    width: 540px;
    /* border: 2px solid red; */
}

#map img {
    position: absolute;
    opacity: 1;
    /* border: 2px solid purple; */
}

#central {
    position: relative;
    height: 240px;
    width: 190px;
    opacity: 1;
    top: 335px;
    left: 100px;
    /* border: 2px solid pink; */
    background-image: url("images/central.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#east {
    position: relative;
    height: 350px;
    width: 240px;
    opacity: 1;
    top: -50px;
    left: 260px;
    /* border: 2px solid pink; */
    background-image: url("images/east.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#north {
    position: relative;
    height: 220px;
    width: 230px;
    opacity: 1;
    top: -470px;
    left: 50px;
    /* border: 2px solid pink; */
    background-image: url("images/north.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#south {
    position: relative;
    height: 350px;
    width: 250px;
    opacity: 1;
    top: -245px;
    left: 140px;
    /* border: 2px solid pink; */
    background-image: url("images/south.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#central:hover {
    opacity: 0.7;
}
#east:hover {
    opacity: 0.7;
}
#north:hover {
    opacity: 0.7;
}
#south:hover {
    opacity: 0.7;
}

.navBar {
    background-color: #0D0F08;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100vw;
    top: 28px;
    z-index: 1000;
  }

.navBar ul {
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
  }

.navBar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: "Thasadith";
    font-size: 16px;
  }
  
.navBar a:hover{
   background-color: #2D351D;
  }
  .donateButton {
    background-color:#CFD9CE;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: "Thasadith";
    font-size: 16px; 
    margin-right: 29px;
    margin-left: 15px;
  }
  
  .navBar button:hover{
    background-color: white;
  }
  .navText {
    color: white;
    font-family: "Yeseva One";
    font-size: 45px;
    margin-left: 29px;
    white-space: nowrap;
  }
  