html, body {
    background-color: #D0D9CD;
    margin:0px;
    max-width: 100%;
    overflow-x: hidden;
}

.titleBox {
    background-color:  #747F71;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    font-style: normal;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    /* border: 2px solid orange; */
}

.titleBox p {
    color: white;
    margin: 0;
  }


.pageBox { 
    background-color: #0D0F08;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    font-style: normal;
    font-family: "Yeseva One";
    font-weight: 400;
    font-size: 52px;
    text-align: left;
    /* border: 2px solid orange; */
}

.pageBox p {
    color: white;
    margin: 10px;
    padding-left: 20px;
    /* border: 2px solid orange; */
}

#mainBox {
    position: absolute;
    display: flex;
    top: 138px;
    width: 100vw;
    height: 170%;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid green;
}

#map {  
    position: absolute;
    justify-content: center;
    height: 960px;
    width: 540px;
    top: 180px;
    border: 2px solid red;
}

#map img {
    position: absolute;
    opacity: 1;
    /* border: 2px solid purple; */
}

#text1 {
    position: absolute;
    text-align:justify;
    padding-right:20px;
    padding-left:20px;
    display: flex;
    font-size: 24px;
    font-style:normal;
    font-family: "Noto Serif Georgian";
    right:100px;
    left:100px;
    height: 180px;
    background-color: hsl(110, 8%, 57%);
    border: 2px solid brown;
}

#central {
    position: relative;
    height: 240px;
    width: 190px;
    opacity: 1;
    top: 335px;
    left: 100px;
    border: 2px solid pink;
    background-image: url("images/central.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#east {
    position: relative;
    height: 350px;
    width: 240px;
    opacity: 1;
    top: -50px;
    left: 260px;
    border: 2px solid pink;
    background-image: url("images/east.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#north {
    position: relative;
    height: 220px;
    width: 230px;
    opacity: 1;
    top: -470px;
    left: 50px;
    border: 2px solid pink;
    background-image: url("images/north.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#south {
    position: relative;
    height: 350px;
    width: 250px;
    opacity: 1;
    top: -245px;
    left: 140px;
    border: 2px solid pink;
    background-image: url("images/south.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#central:hover {
    opacity: 0.7;
}
#east:hover {
    opacity: 0.7;
}
#north:hover {
    opacity: 0.7;
}
#south:hover {
    opacity: 0.7;
}

#eastregion {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0%;
    font-size: 42px;
    font-style:normal;
    font-family: "Noto Serif Georgian";
    width: 500px;
    height: 100px;
    top: 300px;
    right: 70px;
    background-color: #2e361e;
    border-radius: 10px 30px 20px 40px;
    /* border: 2px solid yellow; */
}

#eastregion h3 {
    color: #D0D9CD;
}

#southregion {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0%;
    font-size: 42px;
    font-style:normal;
    font-family: "Noto Serif Georgian";
    width: 500px;
    height: 100px;
    top: 700px;
    right: 70px;
    background-color: #758072;
    border-radius: 10px 30px 20px 40px;
    /* border: 2px solid yellow; */
}

#southregion h3 {
    color: #D0D9CD;
}

#eastregion {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0%;
    font-size: 42px;
    font-style:normal;
    font-family: "Noto Serif Georgian";
    width: 500px;
    height: 100px;
    top: 300px;
    right: 70px;
    background-color: #2e361e;
    border-radius: 10px 30px 20px 40px;
    /* border: 2px solid yellow; */
}

#eastregion h3 {
    color: #D0D9CD;
}

#eastregion {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0%;
    font-size: 42px;
    font-style:normal;
    font-family: "Noto Serif Georgian";
    width: 500px;
    height: 100px;
    top: 300px;
    right: 70px;
    background-color: #2e361e;
    border-radius: 10px 30px 20px 40px;
    /* border: 2px solid yellow; */
}

#eastregion h3 {
    color: #D0D9CD;
}

/* .regions:hover {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
} */