html, body {
    background-color: #D0D9CD;
    margin:0px;
    max-width: 100%;
    overflow-x: hidden;
}

.titleBox {
    background-color:  #747F71;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    font-style: normal;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border: 2px solid orange;
}

.titleBox p {
    color: white;
    margin: 0;
  }


.pageBox { 
    background-color: #0D0F08;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    font-style: normal;
    font-family: "Purple Purse";
    font-weight: 400;
    font-size: 52px;
    text-align: left;
    border: 2px solid orange;
}

.pageBox p {
    color: white;
    margin: 10px;
    padding-left: 20px;
}

#mainBox {
    position: absolute;
    display: grid;
    place-items: center;
    top: 138px;
    width: 100vw;
    /* border: 2px solid pink; */
    align-items: center;
    justify-content: center;
}

#map {
    /* border: 2px solid green; */
    height:auto;
    width: 40vw;
}